{% load static %}

<html>

    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        
        <div class = "container">
            <div class = "header">
                <div class = "header_top">
                    네이버 클론코딩
                </div>
                <div class = "header_bottom">
                    <div class = "navi">덤벨</div>
                    <div class = "navi">바벨</div>
                    <div class = "navi">플레이트</div>
                    <div class = "navi">익스텐션</div>
                    <div class = "navi">자차</div>
                    <div class = "navi">카타</div>
                    <div class = "navi">파하</div>
                    <div class = "navi">꾸꾸</div>
                    <div class = "navi">까까</div>
                    <div class = "navi">히히</div>
                </div>
            </div>

            <div class = "content">
                <div class = "content_left">
                    <div class = "left_box1">
                        <div class = "ads">프로틴</div>
                        <div class = "ads">나이키</div>
                        <div class = "ads">아디다스</div>
                        <div class = "ads">에너지</div>
                        <div class = "ads">멋쟁이</div>
                        <div class = "ads">아르마딜로</div>
                    </div>
                    <div class = "left_box2">
                        기사
                    </div>
                </div>
                <div class = "content_right">
                    <div class = "right_box1">
                        <div class = "login_box">
                            ID<form action = "URL" method = "전송 방식">
                                <input type = "text">
                            </form>
                        </div>
                    </div>
                    <div class = "right_box2">
                        그 외 것들
                    </div>
                </div>
            </div>

            <div class = "footer">
                여기가 푸터
            </div>
        </div>

    </body>
    
</html>