{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>아주대학교</h1>
            <nav class="go">
                <ol>
                    <li class="menu"><a href="http://google.com">학교소개</a></li>
                    <li class="menu"><a href="http://google.com">입학/교육</a></li>
                    <li class="menu"><a href="http://google.com">연구/사학</li>
                    <li class="menu"><a href="http://google.com">학사지원</a></li>
                    <li class="menu"><a href="http://google.com">대학생활</a></li>
                    <li class="menu">아주광장</li>
                </ol>
            </nav>
        </div>
        <div class="main">
            <img src="../../ajou.png" alt="Ajou Univ" height="100%" width="100%">
        </div>
        <div class="footer">
            <a href="mailto:fightnyy@ajou.ac.kr">fightnyy@ajou.ac.kr
            <a href="tel:01012345678">전화번호
        </div>
    </div>
</body>

</html>